


@media screen and (max-width: 440px) {
  header {
    width: 100vw;
    height: 120px;
    background: url("./img/cidaliabanner.png") no-repeat;
    background-size: 100%;
    background-position: 0px -23px;
  }
  .body_Main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #f3d1d7;

  }
  .d3_body_Main {
    width: 100vw;
    height: 31vh;
    background: url("./img/TELA3D500PX.png") no-repeat;
    background-size: 100%;
  }
  .config_Main{
    width: 100vw;
    height: 40vh;
    background-color: #d57692;
  }

}