
@media screen and (max-width: 1440px) {
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3d1d7;
  }
  header {
    width: 90vw;
    height: 420px;
    background: url("./img/cidaliabanner.png") no-repeat;
    background-size: 100%;
    background-position: 0px -60px;
  }
  .body_Main {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 100%;
    background-color: #f3d1d7;

  }
  .d3_body_Main {
    width: 90vw;
    height: 60vh;
    background: url("./img/TELA3D500PX.png") no-repeat;
    background-size: 100%;
  }
  .config_Main{
    width: 90vw;
    height: 70vh;
    background-color: #d57692;
  }

}

@media screen and (max-width: 440px) {
  header {
    width: 100vw;
    height: 120px;
    background: url("./img/cidaliabanner.png") no-repeat;
    background-size: 100%;
    background-position: 0px -23px;
  }
  .body_Main {
    display: flex;
    
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #f3d1d7;

  }
  .d3_body_Main {
    width: 100vw;
    height: 210px;
    background: url("./img/TELA3D500PX.png") no-repeat;
    background-size: 100%;
  }
  .config_Main{
    display: flex;
    width: 100vw;
    height: 40vh;
    background-color: #d57692;
  }

}