


@media screen and (max-width: 440px) {
  header {
    width: 380px;
    height: 170px;
    background: url("./img/cidaliabanner.png") no-repeat;
    background-size: 100%;
    background-position: 0px -23px;
  }
  .body_Main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: aqua;

  }

}